<div class="page-Bottom2">
  <div class="container2 narrow-container">
<%= form_for Track.new, :html => { multipart: true, class: "dropzone m-shadow-light m-border-light"} do |f|  %>
  <div class="fallback">
    <%= f.file_field :song %><br>
    <!-- <input type="hidden" name="track[name]" value="bob" />
    <input type="hidden" name="track[desc]" value="bob" />
    <input type="hidden" name="track[public]" value="true" />
    <input type="hidden" name="track[downloadable]" value="false" />
    <input type="file" name="track[pic]" value="bob" /> -->
    <%= f.submit "Upload my Song" %>
  </div>
<% end %>
<script>
function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
              console.log($(input).closest('.image_upload_preview'));
                $("#"+id + ' .image_upload_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
$(document).on('ready pjax:success', function() {
	// disable auto discover

  Dropzone.autoDiscover = false;
  	var dropzone = new Dropzone (".dropzone", {
  		maxFilesize: 256, // Set the maximum file size to 256 MB
  		paramName: "track[song]", // Rails expects the file upload to be something like model[field_name]
  		addRemoveLinks: false, // Don't show remove links on dropzone itself.
      autoProcessQueue: false
  	});

  	dropzone.on("addedfile", function(file) {
  		//this.removeFile(file)
  		//$.getScript("/tracks")
      var id = new Date().getMilliseconds();
      file.myid = id;
      //alert(file.myid);
      $("#upload").append("<div id='"+id+"'class='editUpload m-shadow-light m-border-light'><table class=upload_details><img width=180 height=180 class=image_upload_preview src='' /><tr><td class='textfield__label m-required-label'>Song Name:<td><input class=song_field name=name value= '"+file.name+"'><tr><td>Image:<td><input class=edituploadimg type=file name=pic accept=image/*><tr><td>Description:<td><textarea class=song_field></textarea><tr class='uploadchecks'><td><% if current_user.clique %>Clique Only<% else %>Private<% end %>:<td><input type=checkbox name=public class='uploadcb'><tr class='uploadchecks'><td>Downloadable:<td><input type=checkbox name=downloadable class='uploadcb'></table><div class='upload_bottom'><button>Upload</button></div></div>");
      $("#"+id+" button").click(function(){
        if(true){
          dropzone.processFile(file);
        }
      });
      $("#" + id + " .edituploadimg").change(function () {
          //alert(file.myid);
          readURL(this, file.myid);
      });
  	});
    dropzone.on('sending', function(file, xhr, formData){
        //alert($("#"+file.myid + " input[name='name']").val());
        formData.append('track[name]', $("#"+file.myid + " input[name='name']").val());
        formData.append('track[pic]', $("#"+file.myid + " input[name='pic']")[0].files[0]);
        formData.append('track[desc]', $("#"+file.myid + " textarea").val());
        formData.append('track[clique_only]', $("#"+file.myid + " input[name='public']").is(':checked'));
        formData.append('track[downloadable]', $("#"+file.myid + " input[name='downloadable']").is(':checked'));
    });
    dropzone.on('success', function(file, xhr, formData){
      $("#"+file.myid).remove();
      dropzone.removeFile(file);
    });
    dropzone.on('error', function(file, xhr, formData){
      //alert("Your upload was unsuccessfull. Please make sure you inputted all information correctly.");
    });
});
</script>
<div id="upload">
</div>
</div>
</div>