<div class="rightCol-Filter">
  <div class="rightCol-Filter-Title">
    <div class="rightCol-Filter-Title-Name">
      <span aria-hidden="true" class="glyphicon glyphicon-heart"></span>
     	Favourites
    </div>
    <div class="rightCol-Filter-Title-Stat">
      470
    </div>
  </div>
  <div class="rightCol-Filter-Profile">
    <div class="rightCol-Profile-Avi">
      <img alt="Smiley face" height="40" src="https://i1.sndcdn.com/artworks-000138032353-aywlgh-t500x500.jpg" width="40"/>
    </div>
    <div class="rightCol-Profile-Bar">
      <div class="rightCol-Profile-Name">
        EverestMG
      </div>
      <div class="rightCol-Followers">
        <i class="fa fa-user-plus"></i>
        45.2K
      </div>
    </div>
    <div class="rightCol-Profile-Follow">
      Follow
    </div>
  </div>
  <div class="rightCol-Filter-Profile">
    <div class="rightCol-Profile-Avi">
      <img alt="Smiley face" height="40" src="https://i1.sndcdn.com/avatars-000157722791-4aqyc1-t500x500.jpg" width="40"/>
    </div>
    <div class="rightCol-Profile-Bar">
      <div class="rightCol-Profile-Name">
        Tory Lanez
      </div>
      <div class="rightCol-Followers">
        <i class="fa fa-user-plus"></i>
        120.3K
      </div>
    </div>
    <div class="rightCol-Profile-Follow">
      Follow
    </div>
  </div>
  <div class="rightCol-Filter-Profile">
    <div class="rightCol-Profile-Avi">
      <img alt="Smiley face" height="40" src="https://i1.sndcdn.com/avatars-000183007726-u3wsuc-t500x500.jpg" width="40"/>
    </div>
    <div class="rightCol-Profile-Bar">
      <div class="rightCol-Profile-Name">
        Bryson Tiller
      </div>
      <div class="rightCol-Followers">
        <i class="fa fa-user-plus"></i>
        3.2M
      </div>
    </div>
    <div class="rightCol-Profile-Follow">
      Follow
    </div>
  </div>
</div>
