<h1>Under Construction</h1>
<%# form_for(@resource, as: @resource_name, url: password_path(@resource_name), html: { method: :post }) do |f| %>
  <%# devise_error_messages! %>
    <h3><%# f.label :email %></h3>
    <%# f.email_field :email, class: "input input-lg"%><br/><br/>
      <%# recaptcha_tags %>
    <%# f.submit "Send me reset password instructions", class: "btn btn-style btn-lg" %>
<%# end %>
