
<% if posts.count == 0 %>
        <div class="no-post">
        <div class="no-post-img"></div>
          <%= @user.first_name %> has not made any posts</br>
        <%= link_to "Explore Artists", explore_path, :class => "btn no-post-btn btn-primary secondary-background" %>
       </div>
<% end %>

<% posts.each do |p| %>
  <%= render :partial => '/posts/post', :locals => { :post => p } %>
<% end %>
