
<div class="rightCol2">
  <div class="rightBlock">
    <div class="rightCol-Filter-Title">
      <div class="rightCol-Filter-Title-Name">
        Join <%= user.first_name %>'s Clique
      </div>
      <div class="rightCol-Filter-Title-Stat"></div>
    </div>
    <div class="rightBlock-Body">
       <%= user.clique.description %>        
    </div>
  </div>
</div>













