<div class="rightCol2">
  <div class="rightBlock">
    <div class="rightCol-Filter-Title">
      <div class="rightCol-Filter-Title-Name">
        About
      </div>
      <div class="rightCol-Filter-Title-Stat"></div>
    </div>
    <div class="rightBlock-Body">
      <%= user.bio %>
    </div>
  </div>
</div>














