<style type="text/css">
.email_outter_container{
	width: 700px;
	background-color: #f0f0f0;
	margin: auto;
	padding: 30px;
}

h2{
	margin-top: 0px;
	text-align: center;
	font-family: Verdana;
}

.email_inner_container{
	width: 80%;
	border-radius: 3px;
	border: 1px solid black;
	margin: auto;
	background-color: white;
}

.top_bar{
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #428BCA;
	color: #f0f0f0;
	font-family: Verdana;
	padding-top: 10px;
}

.text_container{
	padding-right: 20px;
	padding-left: 20px;
}

</style>


<div class="email_outter_container">

	<h2>Clique</h2>

	<div class="email_inner_container">

		<div class="top_bar">Password Reset</div>

		<div class="text_container">


<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
</div>

</div>

</div>
